#slider {
    margin-top: 5px;
  }
.height-300 {
    height: 200px;
    background-size: cover;
}
#slider .carousel-inner .carousel-item {
  height: 400px;
}
#slider .carousel-inner .carousel-item img {
  height: 100%;
  background: white;

}

@media only screen and (max-width: 767px) {
  #slider .carousel-inner .carousel-item {
    height: 250px; /* Adjust the height for small screens */
  }

  #slider .carousel-inner .carousel-item img {
    object-fit: cover; /* Maintain the aspect ratio of the image on small screens */
  }
}