
.blog-container{
    margin-right: 100px;
    overflow-y: hidden;   
    min-height: 1000px;
}

.blog-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
.blogimg{
    width: 40%;
    background-color: transparent;
    margin-left: 5em;
    margin-top: 3em;
}
.blogimg img{
    width: 400px;
    height: 400px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
}
.infoblog{
    width: 50%;
    margin-top: 3em;
}
.like-share{
    display: flex;
    justify-content: space-between;
   
}
.like{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 2em;
}
.readArticle{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 7em;
}
.readArticle button{
    background-color: transparent;
}
.share{
    text-align: end;
    margin-top: -50px;
}
.icon{
    color: #3A7E89;
    font-size: 20px;
    margin-left: 10px;
}
p{
    font-size: large;
    color: white;
    font-style: nprmal;
}
.card-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
}

.card1{
    width: 30%;
    text-align: center;
    margin-top: 3em;
    height: 600px;
    overflow-y: hidden;
}
.card1blog img{
    width: 250px;
    height: 250px;
    margin-top: 3em;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
}
.card1 p{
    margin-top: 5px;
    font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
    height: 250px;
}
button{
    border: none;
    color: #3A7E89;
    margin-left: auto;
}
.read{
    margin-left: 15px;
}
.publicBlogs{
    
    color: #3A7E89;
}
.publicBlogs p{
    text-align: start;
}
.publicBlogs img{
    width: 250px;
    height: 250px;

    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
}
.card2{
    width: 25%;
    text-align: center;
    background-color: white;
    
}
.card2 img{
    width: 100%;
    height: 250px;
}
.card2 p{
   
    font-size: 15px;
    color: #3A7E89;
}
.blogfooter{
    padding-bottom: 2em;
}
.infoblog h6{
        color: white;
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: justify;
        line-height: 1.5;
        margin-bottom: 20px;
        font-size: large;
        margin-top: 2em;
}
.infoblog h5{
        color: #3A7E89;
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: justify;
        line-height: 1.5;
        font-size: xx-large;
}
.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  