.changePasswordText{
    margin-top: 25px;
}
.changePasswordText h2{
    color: white;
}
.changePasswordText h6{
    color: white;
}
.changePasswordInputs{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.changePasswordInputs input{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}
.changePasswordInputs .flexbutton{
    margin-left: auto;
    margin-right: auto;
}
.name:focus{
    outline: none;
}