.myOrders{
    margin-top: 10px;
    width: 99%;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 10px 5px 10px #8080809e;
}
.myprdersParagraph{
    margin-bottom: 25px;
}
.myprdersParagraph h1{
    color: #050404;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.myprdersParagraph span {
    color: #050404;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.orderInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 70px;  
    padding-top: 15px;
}
.orderInfo button{
    background: linear-gradient(to right, #3EBF87, #52B443CC); 
    outline: none;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    overflow-y: hidden;
}
.orderInfo div{
    color: #3EBF87;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.step-wizard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-wizard-list{
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    color: #3EBF87;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
    height: 130px;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #3EBF87;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #3EBF87;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #3EBF87;
}
.current-item .progress-count{
    color: #3EBF87;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.check-mark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .check-bg {
    background: #3EBF87;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .step-wizard {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.headerdetails{
    background-color: #fff;
    margin-right: 15px;
    margin-top: 15px;
    padding-left: 7em;
    padding-right: 7em;
    box-shadow: 10px 5px 10px #8080809e;
}
.headerdetailsflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.headerdetailsflex p{
    color: #3EBF87;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 15px;
}
.showbtndetails{
    background-color: transparent;
}
.showbtndetails{
    background-color: transparent;
    border: none;
    outline: none;
}
  @media only screen and (max-width: 600px) {
    .step-wizard-item {
        min-width: unset; /* Remove the minimum width for small screens */
    }

    .progress-count:after {
        height: 20px;
        width: 20px;
    }

    .progress-count:before {
        height: 5px;
        width: 10px;
    }

    .check-bg {
        height: 20px;
        width: 20px;
    }

    .check-mark {
        font-size: 16px;
    }
}