.store-flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.store-flex .storeside{
  width: 20%;
  margin-left: 5em;
}


.store-flex .card-store {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}


.card-store {
  display: flex;
 /* justify-content: space-between;*/
  flex-wrap: wrap;
}

.card-store .cards {
  width: calc(33.33% - 10px); /* Adjusting for margin or padding */
  margin-bottom: 20px; /* Adding margin between cards */
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin-left: 10px;
}

.card-store .cards:last-child {
  margin-right: 0; /* Remove right margin for the last card in each row */
}
.vertical-line {
  width: 1px;
  height: 100px;
  background-color: #cccccc00; 
  margin-left: 10px;
}
.rateFilter{
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  min-height: 200px;
}
.rateFilter p{
  color: #3A7E89;
}
.number-slider {
  display: flex;
  overflow: hidden;
  width: 300px;
  margin: 20px;
  position: relative;
}

.number-box {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}
.marks span{
  font-size: small;
}
.rateFilter{
  display: flex;
  flex-direction: column;
 
}

.filterbycat{
  margin-bottom: 15px;
  background-color: #3A7E89;
  color: white;
  width: 100%;
}
.card-imgstore{
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}
.card-imgstore img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
.range-slider {
  display: flex;
  align-items: center;
}
.range-slider input{
  background-color: #3A7E89;
  color: #3A7E89;
}
input[type="range"] {
  width: 200px;
  margin-right: 10px;
}

span {
  font-size: 16px;
}


@media only screen and (max-width: 767px)  {
  /*.cards {
    flex: 1 0 calc(50% - 10px);
    max-width: calc(50% - 20px);
    position: relative;
    margin-left: 5px;
  }*/

  .card-imgstore{
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
  .card-imgstore img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }
  .card-store {
    width: 100%;
  }
  .cards {
    flex:  calc(50% - 10px);
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    margin-left: 5px;
  
  }
  .card-infoStore {
    margin-top: -50px;
    margin-bottom: 35px;
}
  .store-flex .card-store{
    width: 100%;
  }

  .home-containerr {
    position: relative;
    top: 50px; 
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: hidden;
  }

  
  .store-flex {
    flex-direction: column-reverse;
  }

  .storeside {
    flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .rateFilter{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: hidden;
  }
  .store-flex .storeside{
    width: 80%;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 5px;
}
.search-container{
  margin-top: 15px;
  width: 100%;
}
}
@media only screen and (max-width: 1199px) and (min-width: 1030px) {
  .searchStore{
    width: 85%;
    margin-left: 10px;
  }
  .cards {
   
    flex:   calc(50% - 10px);
    max-width: calc(50% - 20px);
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .card-info {
    margin-top: -50px;
    margin-bottom: 35px;
}
  .home-containerr {
    position: relative;
    top: 50px; 
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: hidden;
  }
  
  .vertical-line {
    display: block;
  }
  
  .store-flex {
    flex-direction: column-reverse;
  }

  .storeside {
    flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .rateFilter{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .store-flex .storeside{
    width: 80%;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 5px;
}

.card-imgstore{
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}
.card-imgstore img{
  width: 120px;
  height: 150px;
  border-radius: 15px;
}
}