.search-dropdown {
    position: fixed;
    top: 65px; 
    left: 380px;
    transform: translateX(-50%);
    width: 280px;
    background: #3a7e89;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .product-dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: #3a7e89;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: #3a7e89;
    }
  }


  @media (max-width: 992px) {
    .search-dropdown {
      top: 65px;
      left: 54%;
      transform: translateX(-50%);
      width: 300px;
    }
    .search{
        width: 300px;
    }
  }
  
  /* Responsive styles for small screens */
  @media (max-width: 576px) {
    .search-dropdown {
      top: 60px;
      left: 55%;
      transform: translateX(-50%);
      width: 40%;
    }
    .search{
        width: 200px;
    }
  }
  .autocom-box{
    position: fixed;
    top: 65px; 
    left: 490px;
    transform: translateX(-50%);
    width: 280px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }
  .wrapper input{
    border: 1px solid #3a7e89;
    width: 270px;
    margin-left: -1px;
    margin-top: 25px;
    border: 1px solid #3a7e89;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    padding-left: 10px;
  }
  .searchicon{
    color: #3a7e89;
    margin-left: -16px;
  }
  .custom-select {
    position: relative;
    display: inline;
    background-color: #3a7e89;
    color: #3a7e89;
    border-radius: 5px;
    margin-left: 15px;
    width: 120px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    /*border-radius: 10px;*/
    margin-right: -5px;
  }
  
  .selectCat{
    border: 1px solid #3a7e89;
    background-color: #3a7e89;
    color: #3a7e89;
  }



  /* YourComponent.css */

.user-container {
  display: flex;
  align-items: center;
}

.dropdown-container {
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 30px; /* Adjust as needed */
  right: 0;
  background-color: #3a7e89;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 100;
}

.dropdown-menu a {
  display: block;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
}

.login-link {
  color: #333;
  text-decoration: none;
}



/* Dropdown.css */

.select-container {
  position: relative;
}

.selected-option {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-list {
  list-style: none;
  background-color: #3a7e89;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  position: fixed;
    left: 290px;
    transform: translateX(-50%);
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown-list li {
  cursor: pointer;
}

.dropdown-list.open {
  display: block;
}

.filterbycat.selected {
  background-color: #3a7e89;
}

.dropdown-button{
  color: white;
  background-color: #3a7e89;
  border-radius: 50%;
  width: 120px;

}
/*.custom-select ul{
  width: 120px;
  align-items: start;
}
.custom-select li{
  text-align: center;
  background-color: red;
  color: white;
}*/
.custom-select ul {
  min-width: 120px;
  align-items: start;
  margin-left: 18px;
  margin-top: -15px;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius: 10px;
}

.custom-select li {
  text-align: center;
  background-color: #3a7e89;
  color: white;
  display: flex; 
  align-items:flex-start ; 
  justify-content: flex-start; 
  margin-left: -10px;
}


