.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.popup-contentDetails {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #3EBF87, #52B443CC); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 600px;
    position: relative;

  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
  }

  .imgdetails{
    height: 30%;
   
  }
  .imgdetails img{
    width: 100%;
    height: 100%;
  }
  .infodetails{
    height: 70%;
    background-color: white;
    height: 70%;
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    text-align: center;
  }
  .infodetails p{
    color: #3A7E89;
  }

 

  .productImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the image fits within the container */
  }
  
 .infodetails span{
    font-size: 35px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .counter-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  }