.detailsPage .header-container{
  margin-bottom: 5px;
}
.productImg{
    width: 300px;
    height: 300px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
  }
  .detailsContent{
    border-top-left-radius: 150px;
      border-top-right-radius: 150px;
      background: linear-gradient(to right, #3EBF87, #52B443CC); 
  }
  .flexContent{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    min-height: 400px;
  }
  .flexContent .detailsIMG{
    width: 40%;
  }
  .flexContent .detailsINFO{
    margin-left: 5em;
    width: 40%;
    margin-top: 3em;
  }
  .detailsIMG img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.productFooter{
  height: 70px;
  background-color: white;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  overflow-y: hidden;
}
.flexFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.middlefooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.counter{
  margin-left: 5em;
}
.counter button{
  margin-left: 15px;
  margin-right: 15px;
}
.counter span{
  font-size: larger;
  font-weight: bold;
}
.review button{
  background: linear-gradient(to right, #3EBF87, #52B443CC); 
  height: 50px;
  width: 100px;
  border-radius: 15px;
  color: white;
}


