.grey-container{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgb(207, 198, 198);
    height: 100%;
}
.flexReview{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    height: 150px;
    margin-right: 20px;
}
.flexReview p{
    text-align: start;
    color: #337429cc;
    margin-top: -10px;
}
.onereview{
    display: flex;
    flex-direction: row;
    
}